// to compile: sass --watch scss:static/css --style compressed --sourcemap=none

@import "components/color";
// variables
$freetail-blue: #124E78;
$freetail-red: #E45243;
$freetail-tan: #EAF0CE;
$hacktx-red: #CB0922;
$hacktx-light-red: #DC0925;
$hacktx-light-blue: #5983A0;
$hacktx-gray: #bfbfbf;
$sans-serif-font: Josefin Sans, sans-serif;

// so footers can stick to the bottom of the page
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $hacktx-light-blue;
}

main {
    flex: 1 0 auto;
}

// styles begin here

.tan-text {
    color: $freetail-tan;
}

.freetail-blue {
    background-color: $freetail-blue;
}

.light-blue {
    background-color: $hacktx-light-blue;
}

.light-red {
    background-color: $hacktx-light-red;
}

.red {
    background-color: $hacktx-red !important;
}

.gray {
    background-color: $hacktx-gray !important;
}

.api-img-wrapper {

    padding-top: 20px;
    padding-bottom: 20px;

    .api-img {
        height: 100px;
        width: auto;
    }
}

.api-page-img {
    max-height: 200px;
    max-width: 80%;
    height: auto;
    width: auto;
}

.search-nav {
    width: 40%;
}

nav > div > .logo-link {
    padding-left: 10px;
}

.keyword-chip {
    cursor: pointer;
}

#close-button {
    top: 7.5px;
}

a.website-link {
    text-decoration: underline;

    &:visited {
        @extend .yellow-text, .text-darken-2;
    }
}

.card-links {
    float: left;
    max-width: calc(100% - 210px);
    line-height: 2em;
}
