// to compile: sass --watch scss:static/css --style compressed --sourcemap=none

@import "components/color";
// variables
$freetail-blue: #124E78;
$freetail-red: #E45243;
$freetail-tan: #EAF0CE;
$hacktx-red: #CB0922;
$hacktx-light-red: #DC0925;
$hacktx-light-blue: #5983A0;
$hacktx-gray: #bfbfbf;
$sans-serif-font: Josefin Sans, sans-serif;

// so footers can stick to the bottom of the page
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: $hacktx-light-blue;
}

main {
    flex: 1 0 auto;
}

/* styles for '...' - copied from http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */
.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}
/* create the ... */
.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}
/* hide ... if we have text, which is less than or equal to max lines */
.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

// styles begin here

.tan-text {
    color: $freetail-tan;
}

.freetail-blue {
    background-color: $freetail-blue;
}

.light-blue {
    background-color: $hacktx-light-blue;
}

.light-red {
    background-color: $hacktx-light-red;
}

.red {
    background-color: $hacktx-red !important;
}

.gray {
    background-color: $hacktx-gray !important;
}

.api-img {
    height: 100px;
    width: auto;
}

.api-page-img {
    max-height: 200px;
    max-width: 80%;
    height: auto;
    width: auto;
}

.search-nav {
    width: 40%;
}

nav > div > .logo-link {
    padding-left: 10px;
}

.keyword-chip {
    cursor: pointer;
}

#close-button {
    top: 7.5px;
}

a.website-link {
    text-decoration: underline;

    &:visited {
        @extend .yellow-text, .text-darken-2;
    }
}


.card-action {
    text-align: center;

    >div {
        display: inline-block;
    }

    .card-links {
        margin-bottom: 20px;
        display: inline-block;

        a {
            text-align: center;

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }
}

@media (min-width: 1360px), (min-width: 500px) and (max-width: 993px) {
    .card-action {
        >div {
            display: block;
        }

        .card-links {
            float: left;
            margin-bottom: 0;
            margin-top: 5px;
        }

        .chip-links {
            float: right;
        }
    }
}
