{% extends "base.html" %}
{% block title %}HackTX API Directory{% endblock %}
{% block header %}
<div class="section freetail-blue">
  <div class="container">
    <h1 class="tan-text center">
      HackTX API Directory
    </h1>
  </div>
</div>
{% endblock %}
{% block content %}
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s6 m6">
        <div cLass="card small hoverable horizontal">
          <div class="card-image center">
            <img src="http://lorempixel.com/200/200">
          </div>
          <div class="card-content">
            API card 1
          </div>
        </div>
      </div>
      <div class="col s6 m6">
        <div cLass="card medium hoverable horizontal">
          <div class="card-image center">
            <img src="http://lorempixel.com/800/600" class="api-img">
          </div>
          <div class="card-content">
            API card 2
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endblock %}
