{% extends "base.html" %}
{% block title %}{{ data.name }}{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/vs.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/searchbox.js') }}"></script>
{% endblock %}
{% block header %}
{% import "search.html" as search %}
<nav class="freetail-blue">
  <div class="nav-wrapper">
    <a href="{{ url_for('index_page') }}" class="logo-link brand-logo">HackTX API Directory</a>
    <form action="../" class="search-nav right">
      {{ search.searchbar() }}
    </form>
  </div>
</nav>
{% endblock %}
{% block content %}
<div class="section">
  <div class="container tan-text">
    <!-- <img src="{{ data.image }}" class="api-page-img center"> -->
    <h1 class="center">
      <a href="{{ data.link }}" class="tan-text">{{ data.name }}</a>
    </h1>
    <div class="divider"></div>
    <h3>Description</h3>
    <p>
    {{ data.description }}
    </p>
    <div class="divider"></div>
    <h3>How to Use</h3>
    <p>Visit their website at <a class="yellow-text website-link" href="{{ data.link }}">{{ data.link }}</a> to learn more.</p>
    {% if data.usage %}
    {% for lang, example in data.usage.items() %}
    <div class="divider"></div>
    <h4>{{ lang }}</h3>
    <pre class="{{ lang.lower() }}"><code>{{ example }}</code></pre>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock %}
