{% extends "base.html" %}
{% block title %}HackTX API Directory{% endblock %}
    <script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validate.js') }}"></script>
    <script>
        $(document).keypress(
            function(event){
             if (event.which == '13') {
                event.preventDefault();
              }
        });
    </script>


    {% block content %}
    <div class="center col-md-4 col-md-offset-4">
        <h1>{{ config.HACKATHON_NAME }} API-Directory</h1>
        <h2>Api Form</h2>
        <form method="POST" action="" id="apis-form">
            <div class="col-md-6 form-info">
                <p>Company's Name</p>
            </div>
            <input class="required" type="text" placeholder="Company Name" name="company_name">
            <div class="col-md-6 form-info">
                <p>Link of Company</p>
            </div>
            <input  class="required" type="text" placeholder="Link" name="link">
            <div class="col-md-6 form-info">
                <p>Please input image name. Make sure it's in the /img/partners directory Ex. capital-one.jpg</p>
            </div>
            <input class="required" type="text" placeholder="Image Name" name="image">
            <div class="row">
                <div class="col-md-6 form-info">
                    <p>Input key words for search. Delmit by ','. Ex. 'Blockchain,Mobile,Dev,Web'</p>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <input class="required" type="text" placeholder="Search Keywords" name="search_keywords">
                    <select name="search_keywords" multiple class="chosen-select" data-placeholder="Search Keywords">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-info">
                    <p>Input words from search keywords above. Delmit by ','. Ex. 'Blockchain,Mobile,Dev,Web'</p>
                </div>
                    <input class="required" type="text" placeholder="CS Keywords" name="chip_keywords">
                    <select name="chip_keywords" multiple class="chosen-select" data-placeholder="CS Keywords">
                    </select>
                </div>
            </div>
            <p>Company Description</p>
            <input class="required" type="text" placeholder="Description" name="description">
            <button type="submit" name="button" value="apis">Create API</button>
        </form>

        <h2>Challenge Form</h2>
        <form method="POST" action="" id="challenges-form">
            <div class="col-md-6 form-info">
                <p>Company's Name</p>
            </div>
            <input class="required" type="text" placeholder="Company Name" name="company_name">
            <div class="col-md-6 form-info">
                <p>Link of Company</p>
            </div>
            <input class="required" type="text" placeholder="Link" name="link">
            <div class="col-md-6 form-info">
                <p>Please input image name. Make sure it's in the /img/partners directory Ex. capital-one.jpg</p>
            </div>
            <input class="required" type="text" placeholder="Image Name" name="image">
            <div class="row">
                <div class="col-md-6 form-info">
                    <p>Input key words for search. Delmit by ','. Ex. 'Blockchain,Mobile,Dev,Web'</p>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <input class="required" type="text" placeholder="Search Keywords" name="search_keywords">
                    <select name="search_keywords" multiple class="chosen-select" data-placeholder="Search Keywords">
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-info">
                    <p>Input words from search keywords above. Delmit by ','. Ex. 'Blockchain,Mobile,Dev,Web'</p>
                </div>
                    <input class="required" type="text" placeholder="CS Keywords" name="chip_keywords">
                    <select name="chip_keywords" multiple class="chosen-select" data-placeholder="CS Keywords">
                    </select>
                </div>
            </div>
            <p>Prize Name</p>
            <input class="required" type="text" placeholder="Prize Name" name="prize_name">
            <p>Prize</p>
            <input class="required" type="text" placeholder="Prize" name="prize">
            <button type="submit" name="button" value="challenges">Create Challenges</button>
        </form>
    </div>
{% endblock %}