{% extends "base.html" %}
{% block title %}HackTX API Directory{% endblock %}
{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename='js/velocity.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/global.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/toasts.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/searchbox.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
{% endblock %}
{% block header %}
{% import "search.html" as search %}
<div class="section freetail-blue">
  <div class="container">
    <h1 class="center-align">
      <a href="." class="tan-text">HackTX API Directory</a>
    </h1>
    {{ search.searchbar(true) }}
  </div>
</div>
{% endblock %}
{% block content %}
<div class="section">
  <div class="container">
    <div class="row">
      {% for company, data in companies.items() %}
      <div class="col s12 l6 api-card-div" id="{{ company.lower() }}">
        <div class="card small hoverable">
          <div class="center api-img-wrapper">
            <img src="{{ url_for('static', filename='img/partners/' + data.image) }}" class="api-img">
          </div>
          <div class="card-content">
            <p class="block-with-text">
            {{ data.description }}
            </p>
          </div>
          <div class="card-action">
            <div class="card-links">
              <a href="{{ url_for('api_page', name=company) }}">More Info</a>
              <a href="{{ data.link }}">Visit Website</a>
            </div>
            <div class="chip-links">
              {% for keyword in data.chip_keywords %}
              <div class="chip keyword-chip">{{ keyword }}</div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
